USE [CodeFormatter]
GO
/****** Object:  Table [dbo].[Behaviour]    Script Date: 28/03/2017 15:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Behaviour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Behaviour] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
